<!DOCTYPE html>
<html>
<head>
  <title>WrideUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <img class="logo" src="../imgs/Wride-Up-Logo-2.png" />

<%= yield %>

</body>
</html>
